@model NoteSharingApp.Models.Document

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .notes-view {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        height: 200px;
    }

        .notes-view img {
            width: 100%;
            height: 100%;
        }

    .comments-section {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        font-size: 20px;
        margin-top: 20px;
    }

        .comments-section .uploader, .comments-section .rating {
            float: left;
            font-weight: 700;
        }

        .comments-section .rating {
            float: right;
        }

    .value-up {
        color: green;
        margin-right: 25px;
    }

    .value-down {
        color: red;
    }

    .clear-fix {
        clear: both;
    }

    .commenter-name, .commenter-comment {
        float: left;
    }

    .commenter-name {
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    }

    .commenter-comment {
        width: 65%;
        margin-left: auto;
        margin-right: auto;
    }

    }
</style>
<div class="notes-view">
    <div>
        <h1 style="text-align:center;font-size:64px;">@Html.DisplayFor(model => model.FileName)</h1>
    </div>
    <div>
        <p>
            
            @Html.DisplayFor(model => model.UploadDateTimeOffset)
            <br />
            @Html.DisplayFor(model => model.Size)
        </p>
    </div>

</div>
<div class="comments-section">


 
                <div class="uploader">By: Jon Samuel</div>
                <div class="rating">
                    <span class="rating-value value-up">45</span>
                    <span class="rating-value value-down">545</span>
                </div>
                <div class="clear-fix">
                </div>
                <div id="comment-section" style="margin-top:50px;">
                    <!--We will be adding comments later-->
                    <div class="commenter-name">Bob</div>
                    <div class="commenter-comment">In physics, string theory is a theoretical framework in which the point-like particles of particle physics are replaced by one-dimensional objects called strings. It describes how these strings propagate through space and interact with each other. On distance scales larger than the string scale, a string looks just like an ordinary particle, with its mass, charge, and other properties determined by the vibrational state of the string. In string theory, one of the many vibrational states of the string corresponds to the graviton, a quantum mechanical particle that carries gravitational force. Thus string theory is a theory of quantum gravity.</div>
                </div>
    </div>
<div style="clear:both;"></div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
